body {
    background-color: #ffffff;
    margin: 20px;
}
h1, p {
    text-align: center;
    color: #0e7392;
}
table {
    width: 70%;
    margin: auto;
    border-collapse: collapse;
    background-color: #ffdcdc;
}
th {
    background-color: #ff6bbd;
    color: white;
    padding: 10px;
    font-family: 'Tahoma';
    border: 1px solid #ff0000;
}
td {
    border: 1px solid #ff0000;
    padding: 10px;
    text-align: center;
    font-family: 'Gill Sans MT';
    color: blue;
}
tr:hover {
    background-color: #c9c9c9;
}
th:nth-child(even) {color:#ff0000;} 
th:nth-child(odd) {color:#0011ff;} 
td:nth-child(even) {color:#2600ff;} 
td:nth-child(odd) {color:#ff0000;} 
h2, h3 {
    font-size: 20px; 
    font-weight: bold; 
    text-align: center;
    color: #0e7392;
}
p img {
    max-width: 200px; 
    height: auto; 
    text-align: center;
}
td img {
    max-width: 200px; 
    height: auto; 
}
footer {
    text-align:center; 
    background-color: #ec61da;
    padding:10px 15px;
    width: 65%;
    margin: auto; 
}
footer p {
    color: white;
}
